body {
    background-color: indianred
}

h1 {
    color: blue
}

p {
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid powderblue;
    padding: 30px;
    margin: 50px;
}

#p01 {
    color: blue;
}

p.error {
    color: red;
}

h2.error {
    color: red;
}
